.topnav {
    background-color: #333;
    overflow: hidden;
}
  

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#logout {
    float: right;
}
  
li {
    display: inline;
}

.coverArt{
    height: 200px;
}

.info{
    text-align: center;
    border: 1px solid black;
}
table{
    width: 90%;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    padding: 10px;
}
th{
    padding-left: 10px;
    padding-right: 10px;
}

.toplabels{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}
 
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #c25c18;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
a:link, a:visited {
    background-color: #c25c18;
    color: white;
    border: 2px solid #c25c18;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: white;
    color: black;
    border: 2px solid #c25c18;
}
#indexText{
    width: 90%;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    padding: 10px;
}