{% extends "layout.html" %}

{% block body %}

    <h1>Add Game</h1>
    <form method="POST" action="" enctype="multipart/form-data" id="addForm">
        <p><input type="file" name="file" accept=".png,.jfif,.jpg,.jpeg" id="addFile"></p>
        <p><label for= "addTitle">Title:</label>
            <input type="text" name="title" id="addTitle"><span></span></p>
        <p><label for= "addConsole">Console:</label>
            <input type="text" name="console" id="addConsole"><span></span></p>
        <p><label for= "addYear">Year:</label>
            <input type="text" name="year" id="addYear"><span></span></p>
        <p><label for= "addCompleted">Completed:</label>
            <input type="text" name="completed" id="addCompleted"><span></span></p>
        <p><label for= "addRating">Rating:</label>
            <input type="text" name="rating" id="addRating"><span></span></p>
        <p><input type="submit" value="Submit" id="addSubmit"></p>
    </form>

{% endblock %}