{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>"Cover Art"</th>
            <th>"Title"</th>
            <th>"Console"</th>
            <th>"Year"</th>
            <th>"Completed"</th>
            <th>"Rating"</th>
        </tr>
            {% for game in games %}
                <tr>
                    <th><img src="static/images/{{game[4]}}"></th>
                    <th>{{game[0]}}</th>
                    <th>{{game[1]}}</th>
                    <th>{{game[2]}}</th>
                    <th>{{game[3]}}</th>
                    <th>{{game[5]}}</th>
                    <th><button type="button">Update</button></th>
                </tr>
            {% endfor %}

    </table>
{% endblock %}