{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th class="toplabels">Cover Art</th>
            <th class="toplabels">Title</th>
            <th class="toplabels">Console</th>
            <th class="toplabels">Year</th>
            <th class="toplabels">Completed</th>
            <th class="toplabels">Rating</th>
        </tr>

            {% for game in games %}
                <tr>
                    <th class="info"><img class="coverArt" src="static/images/{{game[5]}}"></th>
                    <th class="info">{{game[1]}}</th>
                    <th class="info">{{game[2]}}</th>
                    <th class="info">{{game[3]}}</th>
                    <th class="info">{{game[4]}}</th>
                    <th class="info">{{game[6]}}</th>
                    <th><a href="{{ url_for('update', id=game[0])}}" class="update">Update</a></th>
                    <th><a href="{{ url_for('delete', id=game[0])}}" class="delete">Delete</a></th>
                </tr>
            {% endfor %}

    </table>
{% endblock %}