<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" charset="UTF-8">
        <title>index</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="topnav">
            <li><a class="active" href="{{url_for('index')}}" id="home">Home</a></li>
            <li><a href="{{url_for('collection')}}">Collection</a></li>
            <li><a href="{{url_for('add')}}">Add Game</a></li>
            <li><a href="{{url_for('logout')}}" id="logout">Log Out</a></li>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>